[Unit]
Description=Ironfront UserService
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
WorkingDirectory=/opt/warlabs/ironfront/userservice
ExecStart=/usr/bin/dotnet /opt/warlabs/ironfront/userservice/Ironfront.UserService.dll
EnvironmentFile=/etc/warlabs/ironfront/ironfront.env
User=ironfront
Group=ironfront
Restart=always
RestartSec=5
SyslogIdentifier=ironfront-user
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
