[Unit]
Description=Ironfront AuthService
After=network-online.target postgresql.service
Wants=network-online.target

[Service]
WorkingDirectory=/opt/warlabs/ironfront/authservice
ExecStart=/usr/bin/dotnet /opt/warlabs/ironfront/authservice/Ironfront.AuthService.dll
EnvironmentFile=/etc/warlabs/ironfront/ironfront.env
User=ironfront
Group=ironfront
Restart=always
RestartSec=5
SyslogIdentifier=ironfront-auth
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
